/*
 * Nextflow Configuration File
 * Paipu
 */

// Manifest
/*
manifest {
    name            = 'paipu-pipeline'
    homePage        = ''
    description     = 'Paipu pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '1.0.0'
}
*/

// Parameters
params {
    // Input/Output
    input_csv = "${baseDir}/query_output_valid.csv"
    log_dir = "logs"
    master_dir = "${baseDir}"
    results_dir = "${baseDir}/results"
    
    // SRA metadata inputs
    query_info = "${baseDir}/input/query_info.csv"
    exclude_cols = "${baseDir}/input/exclude_cols.csv"

    // Scripts
    dexseq_script = "${baseDir}/dexseq_prepare_annotation.py"
    sra_retrieval_script = "${baseDir}/sra_metadata_retrieval.py"
    bin_samples_script = "${baseDir}/scripts/binSamples.sh"
    freya_phenotype_script = "${baseDir}/scripts/freya_phenotype.sh"
    make_config_script = "${baseDir}/scripts/make_config.sh"
    download_sra_script = "${baseDir}/scripts/download_sra_from_list.sh"
    freya_single_script = "${baseDir}/scripts/freya_slurm_script.sh"
    freya_paired_script = "${baseDir}/scripts/freya_slurm_script_paired.sh"
    master_script = "${baseDir}/scripts/master_script.sh"
    master_paired_script = "${baseDir}/scripts/master_paired_script.sh"
    deseq_count_script = "${baseDir}/scripts/DESeq_count_matrix.sh"
    dexseq_r_script = "${baseDir}/scripts/DEXSeq.R"
    
    // Help message
    help = false
}

// Process configuration
process {
    executor = 'slurm'
    // Default settings for all processes
    errorStrategy = 'retry'
    maxRetries    = 2

    
    // Resource defaults
    cpus   = 1
    memory = 4.GB
    time   = 30.h

    // Process-specific settings
    withName: DOWNLOAD_ASSEMBLIES {
        cpus   = 1
        memory = 4.GB
        time   = 6.h
        clusterOptions = '--account=kgraim --qos=kgraim'
    }
    
    withName: FAI_BUILD {
        cpus   = 1
        memory = 2.GB
        time   = 5.h
        clusterOptions = '--account=kgraim --qos=kgraim'
    }
    
    withName: HISAT_BUILD {
        cpus   = 8
        memory = 64.GB
        time   = 8.h
        clusterOptions = '--account=kgraim --qos=kgraim'
    }
    
    withName: DEXSEQ_PREPARE {
        cpus   = 1
        memory = 8.GB
        time   = 2.h
        clusterOptions = '--account=kgraim --qos=kgraim'
    }

    withName: SRA_METADATA_RETRIEVAL {
        cpus   = 1
        memory = 50.GB
        time   = 24.h
        maxForks = 1 // only process one organism at a time to not exceed entrez API limits
        clusterOptions = '--account=kgraim --qos=kgraim'
    }

    withName: DOWNLOAD_SRA {
        cpus = 1
        memory = 20.GB
        time = 240.h
        clusterOptions = '--account=kgraim --qos=kgraim'
    }

    withName: RUN_FREYA {
        cpus = 4
        time = 240.h
        memory = { layout == 'paired' ? 100.GB : 50.GB }
        clusterOptions = '--nodes=6 --ntasks=6'
    } 

    withName: RUN_DESEQ_COUNT {
        cpus = 1
        memory = 100.GB
        time = 5.h
    }

}

// Executor configuration
executor {
    queueSize = 50
    submitRateLimit = '10/1min'
}


// Reporting
timeline {
    enabled = true
    file    = "${params.log_dir}/timeline.html"
}

report {
    enabled = true
    file    = "${params.log_dir}/report.html"
}

trace {
    enabled = true
    file    = "${params.log_dir}/trace.txt"
    fields  = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file    = "${params.log_dir}/dag.html"
}

// Cleanup
cleanup = false
